@import '../variables.scss';
@import '../media-queries.scss';

.app--value--true {
  color: $changed;
}
.app--value--false {
  color: $secondary;
}

.app--logo {
  height: 200px;
  display: block;
  margin: 1rem;
  padding-top: 1rem;
}
.app--container {
  padding: auto;
  margin: 1rem;
}
.app--grid {
  margin: 2rem 0 2rem 0;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  .app--grid--a {
    background-color: $primary;
  }
  .app--grid--b {
    background-color: $secondary;
  }
  .app--grid--c {
    background-color: $active;
  }
  .app--grid--d {
    background-color: $changed;
  }
  .app--grid--e {
    background-color: $warning;
  }
  .app--grid--f {
    background-color: $error;
  }
  div {
    height: 10px;
    width: 100%;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  div:hover {
    height: 200%;
  }
}

.special-button {
  margin-right: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  background-color: transparent;
  color: grey;
  border-radius: 20px;
  border: 1px solid grey;
  outline: none;

  :hover:enabled {
    color: lightgrey;
    background-color: transparent;
  }
  :active:enabled {
    background-color: lightblue;
  }

  :disabled {
    color: grey;
  }

  svg {
    // margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
  }
}
